.container{
    /* max-width: 1440px !important; */
}
main{
    min-height: 100vh;
    width: 100%;
    position: relative;
    right: child 0;;
}


.wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px , 1fr));
    gap: 20px;
    overflow-y: scroll;
    max-height: 100vh;
    
}

.mask{
    background:white;
}
.header__btn{
    background-color: floralwhite;
}
.header__btn-img{
    width: 40px;
    height: 40px;
}
.aside{
    z-index: 999999;
    top: 0;
    right: 0px;
    min-width: 360px !important;
    padding: 10px;

}
.aside .bookmark{
    width: 100%;
    height: 105vh;
    position: relative;
    overflow-y: scroll;
}
.del{
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    color: white;
}
.del:active{
   background-color: #fff !important;
}
.card{
    max-width: 380px;
    min-height: 100px;
}
